<div>
  <i class="far fa-sticky-note {{if dateNow > meeting.datetime }} bg-maroon {{else}} bg-teal {{/if}}"></i>
  <div class="timeline-item">
    <span class="time"><i class="fas fa-clock"></i> {{ meeting.datetime | timeRemaining }} </span>
    <h3 class="timeline-header {{if dateNow > meeting.datetime }}  bg-maroon {{/if}}">
      {{@meeting.datetime | formatDate 'YYYY-MM-DD hh:mm:ss A'}}
     </h3>
     
    <div class="timeline-body row">
      <div class="table-responsive col-md-6">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td width="10%">Date:</td>
              <td>{{meeting.datetime | formatDateRaw 'YYYY-MM-DD'}}</td>
            </tr>
            <tr>
              <td>Time:</td>
              <td>{{meeting.datetime | formatDateRaw 'hh:mm A'}}</td>
            </tr>
            <tr>
              <td>Note:</td>
              <td>{{meeting.note}}</td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>{{meeting.address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" id='{{meeting._id.toString()}}'>
          <input type="hidden" class="form-control" id="meeting_id" value="{{meeting._id.toString()}}"/>
          {{include './select_meeting_outcome.html', { name: 'outcome', options: outcome, meeting_id: meeting._id.toString() } }}
          {{include './textarea.html', { name: 'outcome_note'} }}
          <div id='hierarchy_container' style='display: none'>
            {{if hierarchy == 'NEW' }} <!--HIERARCHY.NEW-->
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id='is_first_meeting' name='is_first_meeting' />
                  <label class="form-check-label">First Meeting</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id='is_second_meeting' name='is_second_meeting' disabled />
                  <label class="form-check-label">Second Meeting</label>
                </div>
              </div>
            {{/if}}
            {{if hierarchy == 'FIRST_MEETING' }} <!--HIERARCHY.FIRST_MEETING-->
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id='is_first_meeting' name='is_first_meeting' disabled checked />
                  <label class="form-check-label">First Meeting</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id='is_second_meeting' name='is_second_meeting' />
                  <label class="form-check-label">Second Meeting</label>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="form-group">
            <button onclick="submitUpdateMeeting(`{{meeting._id.toString()}}`)" class="btn bg-teal btn-block font-weight-bold">
              <i class="fas fa-save"></i> Update Meeting
            </button>
          </div>
      </div>
    </div>
  </div>
</div>