<div class="form-group">
  <div class="input-group">
    <div class="input-group-append">
      <span class="input-group-text text-sm">{{name | strReplace | strLimit 14}}</span>
    </div>
    <select class="form-control" 
      id="{{name}}" 
      name="{{name}}">
      <option value="">Select {{name}}</option>
      {{each options}}
      <option 
        value="{{$value._id.toString()}}"
        {{if value}}{{if value[name] == $value._id.toString()}}selected{{/if}}{{/if}}
      >{{$value.first_name}} {{$value.last_name}}</option>
      {{/each}}
    </select>
  </div>
  <small 
    class="form-text text-danger"
    id="{{name}}_error"
  ></small>
</div>