<div class="form-group">
  <div class="input-group">
    <div class="input-group-append">
      <span class="input-group-text text-sm"
        >{{name | strReplace | strLimit 14}}</span
      >
    </div>
    <textarea
      class="form-control"
      rows="3"
      placeholder="Enter ..."
      style="min-height: 63px; height: 63px; resize: none"
      id="{{name}}"
      name="{{name}}"
    >
{{if value}}{{value[name]}}{{/if}}</textarea
    >
  </div>
  <small class="form-text text-danger" id="{{name}}_error"></small>
</div>
