<!-- layout -->
{{extend './layout.html'}}
<!-- content -->
{{block 'content'}}
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-user"></i> Lead Info
        </h3>
      </div>
      <div class="card-body p-2">
        {{each lead}}
          {{if $index === 'status'}}
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text text-sm">{{$index}}</span>
                </div>
                <select class="form-control form-control-sm select2bs4" name="{{$index}}">
                  {{each LEAD_STATUS}}
                  <option 
                    value="{{$value}}"
                    {{if user}}{{if user.status == $value}}selected{{/if}}{{/if}}
                  >{{$value}}</option>
                  {{/each}}
                </select>
                <small class="form-text text-danger" id="{{$index}}_error"></small>
              </div>
            </div>
          {{else if $index !== '_id'}}
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text text-sm">{{$index | strReplace | strLimit 15}}</span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="{{$index}}"
                  value="{{$value}}"
                />
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="card-footer p-2">
        <div class="form-group">
          <button class="btn bg-teal btn-sm btn-block">
            <i class="fas fa-save"></i> Update Lead
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-user"></i> Lead Status
        </h3>
      </div>
      <div class="card-body"></div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-user"></i> Lead Logs
        </h3>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  $(document).ready(function () {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
  });
</script>
{{/block}}