{{extend './layout.html'}} {{block 'content'}}
<div class="card">
  <form action="/bdm-settings/create" method="post" id="formBdmSettingsCreate">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">
        <i class="fas fa-plus"></i> Add Settings
      </h3>
    </div>
    <div class="card-body p-2">
      <!-- name -->
      {{include './components/input_text.html', {type: 'text', name: 'name',
      value: body} }}
      <!-- ifa -->
      {{include './components/select_id.html', { name: 'ifa', value: user,
      options: IFA} }}
      <!-- bdm -->
      {{include './components/select_id.html', { name: 'bdm', value: user,
      options: BDM} }}
      <!-- status -->
      {{include './components/select.html', { name: 'status', value: user,
      options: LEAD_STATUS} }}
    </div>
    <div class="card-footer p-2">
      <div class="form-group">
        <button
          type="button"
          class="btn btn-block bg-teal"
          id="btnBdmSettingsCreate"
        >
          <i class="fas fa-plus"></i> Add Settings
        </button>
      </div>
    </div>
  </form>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }

  $(document).ready(function() {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#btnBdmSettingsCreate').on('click', function() {
      Swal.fire({
        icon: 'question',
        title: 'Do you really want to create the BDM settings?',
        showCancelButton: true,
        confirmButtonText: '<i class="fas fa-save"></i> Create',
        confirmButtonColor: '#20c997',
        cancelButtonText: '<i class="fas fa-times"></i> Cancel',
        cancelButtonColor: '#d81b60',
      }).then((result) => {
        if (result.isConfirmed) {
          $('#formBdmSettingsCreate').submit();
        }
      });
    });
  });

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}
