{{extend './layout.html'}} {{block 'content'}}
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-search"></i> Search
        </h3>
      </div>
      <div class="card-body p-2">
        <!-- name -->
        {{include './components/search_box.html', { name: 'name' } }}
        <!-- ifa -->
        {{include './components/search_select_id.html', { name: 'ifa', value:
        user, options: IFA} }}
        <!-- bdm -->
        {{include './components/search_select_id.html', { name: 'bdm', value:
        user, options: BDM} }}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-cog"></i> Option
        </h3>
      </div>
      <div class="card-body p-2">
        <div class="form-group">
          <a href="/bdm-settings/add" class="btn bg-teal btn-block">
            <i class="fas fa-plus"></i>
            Add Settings
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-table"></i> Table
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th><i class="far fa-calendar"></i> Date</th>
                <th><i class="far fa-file"></i> Name</th>
                <th><i class="far fa-user"></i> IFA</th>
                <th><i class="far fa-user"></i> BDM</th>
                <th>Status</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {{each settings.docs}}
              <tr>
                <td>
                  <i class="far fa-calendar"></i>
                  {{@$value.created_at | formatDate 'YYYY-MM-DD'}}
                </td>
                <td>
                  <i class="far fa-file"></i>
                  <a
                    href="/bdm-settings/edit/{{$value._id.toString()}}"
                    rel="nofollow noopener noreferrer"
                    class="text-info"
                    id="lead{{$index}}"
                    data-ot="Click to view details"
                    data-ot-delay="0"
                    data-ot-tip-joint="bottom"
                    data-ot-hide-delay="0"
                    data-ot-target="#lead{{$index}}"
                    data-ot-fixed="true"
                  >
                    {{$value.name}}
                  </a>
                </td>
                <td>
                  <i class="far fa-user"></i>
                  {{$value.ifa_name | titleCase}}
                </td>
                <td>
                  <i class="far fa-user"></i>
                  {{$value.bdm_name| titleCase}}
                </td>
                <td>{{$value.status | titleCase}}</td>
                <td>
                  <form
                    action="/bdm-settings/delete/{{$value._id.toString()}}"
                    method="post"
                    id="formBdmSettingsDelete{{$index}}"
                  >
                    <div class="btn-group">
                      <button type="button" class="btn bg-teal btn-sm p-1">
                        option
                      </button>
                      <button
                        type="button"
                        class="btn bg-teal dropdown-toggle dropdown-icon btn-sm p-1"
                        data-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        <a
                          class="dropdown-item"
                          href="#"
                          rel="nofollow noopener noreferrer"
                          onclick="deleteBdmSettings('#formBdmSettingsDelete{{$index}}');"
                        >
                          <i class="fas fa-times text-maroon"></i> Delete
                        </a>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul
            class="pagination justify-content-center m-0"
            id="pagination"
          ></ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  const page = parseInt('{{settings.page}}');
  const totalPages = parseInt('{{settings.totalPages}}');
  const totalDocs = parseInt('{{settings.totalDocs}}');
  document.getElementById('name').value = decodeHTML(
    '{{search.name | escapeBackslash}}'
  );
  document.getElementById('ifa').value = decodeHTML(
    '{{search.ifa | escapeBackslash}}'
  );
  document.getElementById('bdm').value = decodeHTML(
    '{{search.bdm | escapeBackslash}}'
  );

  function search(page = 1) {
    let url = window.location.href.split('?')[0];
    let name = $('#name').val();
    let ifa = $('#ifa').val();
    let bdm = $('#bdm').val();
    url += `?page=${page}`;
    if (name) url += `&name=${name}`;
    if (ifa) url += `&ifa=${ifa}`;
    if (bdm) url += `&bdm=${bdm}`;
    window.location.href = url;
  }

  function deleteBdmSettings(form) {
    Swal.fire({
      icon: 'question',
      title: 'Do you really want to delete the BDM Settings?',
      showCancelButton: true,
      confirmButtonText: '<i class="fas fa-save"></i> Delete',
      confirmButtonColor: '#20c997',
      cancelButtonText: '<i class="fas fa-times"></i> Cancel',
      cancelButtonColor: '#d81b60',
    }).then((result) => {
      if (result.isConfirmed) {
        $(form).submit();
      }
    });
  }

  $(document).ready(function () {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#pagination').html(pagination(page, totalPages, totalDocs, 'search'));
  });
</script>
{{/block}}
