{{extend './layout.html'}} {{block 'content'}}
<div class="card">
  <div class="card-body">
    <form action="/bdm-settings/create" method="post" id="formBdmSettingsCreate">
      <div class="form-group">
        <label>Setting Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          value="{{if body}}{{body.name}}{{/if}}"
        />
        <small class="form-text text-danger" id="name_error"></small>
      </div>
      <div class="form-group">
        <label>IFA</label>
        <select
          class="form-control select2bs4"
          name="ifa"
          style="width: 100%"
        >
          <option value="">Select IFA</option>
          {{each IFA}}
          <option 
            value="{{$value._id.toString()}}"
            {{if body}}{{if body.ifa == $value._id.toString()}}selected{{/if}}{{/if}}
          >
            {{$value.first_name}} {{$value.last_name}}
          </option>
          {{/each}}
        </select>
        <small class="form-text text-danger" id="ifa_error"></small>
      </div>
      <div class="form-group">
        <label>BDM</label>
        <select
          class="form-control select2bs4"
          name="bdm"
          style="width: 100%"
        >
          <option value="">Select BDM</option>
          {{each BDM}}
          <option 
            value="{{$value._id.toString()}}"
            {{if body}}{{if body.bdm == $value._id.toString()}}selected{{/if}}{{/if}}
          >
            {{$value.first_name}} {{$value.last_name}}
          </option>
          {{/each}}
        </select>
        <small class="form-text text-danger" id="bdm_error"></small>
      </div>
      <div class="form-group">
        <label>Status</label>
        <select
          class="form-control select2bs4"
          name="status"
          style="width: 100%"
        >
          <option value="">Select Lead Status</option>
          {{each LEAD_STATUS}}
          <option 
            value="{{$value}}"
            {{if body}}{{if body.status == $value}}selected{{/if}}{{/if}}
          >
            {{$value}}
          </option>
          {{/each}}
        </select>
        <small class="form-text text-danger" id="status_error"></small>
      </div>
      <div class="form-group">
        <button 
          type="button" 
          class="btn btn-block bg-teal" 
          id="btnBdmSettingsCreate"
        ><i class="fas fa-plus"></i> Add Settings</button>
      </div>
    </form>
  </div>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }

  $(document).ready(function() {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#btnBdmSettingsCreate').on('click', function() {
      Swal.fire({
        icon: 'question',
        title: 'Do you really want to update the BDM settings?',
        showCancelButton: true,
        confirmButtonText: '<i class="fas fa-save"></i> Update',
        confirmButtonColor: '#20c997',
        cancelButtonText: '<i class="fas fa-times"></i> Cancel',
        cancelButtonColor: '#d81b60',
      }).then((result) => {
        if (result.isConfirmed) {
          $('#formBdmSettingsCreate').submit();
        }
      });
    });
  });

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}