{{extend './layout.html'}} {{block 'content'}}
<div class="card">
  <form
    action="/bdm-settings/update/{{setting._id.toString()}}"
    method="post"
    id="formBdmSettingsUpdate"
  >
    <div class="card-header">
      <h3 class="card-title font-weight-bold">
        <i class="fas fa-save"></i> Edit Settings
      </h3>
    </div>
    <div class="card-body p-2">
      <!-- name -->
      {{include './components/input_text.html', {type: 'text', name: 'name',
      value: setting} }}
      <!-- ifa -->
      {{include './components/select_id.html', { name: 'ifa', value: setting,
      options: IFA} }}
      <!-- bdm -->
      {{include './components/select_id.html', { name: 'bdm', value: setting,
      options: BDM} }}
      <!-- status -->
      {{include './components/select.html', { name: 'status', value: setting,
      options: LEAD_STATUS} }}
    </div>
    <div class="card-footer p-2">
      <div class="form-group">
        <button
          type="button"
          class="btn btn-block bg-teal"
          id="btnBdmSettingsUpdate"
        >
          <i class="fas fa-save"></i> Update Settings
        </button>
      </div>
    </div>
  </form>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }

  $(document).ready(function() {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#btnBdmSettingsUpdate').on('click', function() {
      Swal.fire({
        icon: 'question',
        title: 'Do you really want to update the BDM settings?',
        showCancelButton: true,
        confirmButtonText: '<i class="fas fa-save"></i> Update',
        confirmButtonColor: '#20c997',
        cancelButtonText: '<i class="fas fa-times"></i> Cancel',
        cancelButtonColor: '#d81b60',
      }).then((result) => {
        if (result.isConfirmed) {
          $('#formBdmSettingsUpdate').submit();
        }
      });
    });
  });

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}
