<!-- layout -->
{{extend './layout.html'}}
<!-- content -->
{{block 'content'}}
<div class="row">
  {{if setting}}
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Search</label>
          <input
            type="text"
            class="form-control"
            name="search"
            placeholder="First name, last name, status"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body p-0">
        <ul id="tabs" class="nav nav-tabs">
          {{each settings}}
          <li class="nav-item">
            <a
              href=""
              onclick="navigate('/bdm-lead?setting={{$value._id.toString()}}&page=1')"
              data-toggle="tab"
              class="nav-link small text-uppercase {{if $value._id.toString() == CURRENT_BDM_SETTING}}active{{/if}}"
              id="tabSettings{{$index}}"
              data-ot="{{$value.name}}"
              data-ot-delay="0"
              data-ot-tip-joint="bottom"
              data-ot-hide-delay="0"
              data-ot-target="#tabSettings{{$index}}"
              data-ot-fixed="true"
              >{{$value.name | strLimitNav}}</a
            >
          </li>
          {{/each}}
        </ul>
        <div id="tabsContent" class="tab-content">
          {{each settings}}
          <div
            class="tab-pane fade pt-3 {{if $value._id.toString() == CURRENT_BDM_SETTING}}active show{{/if}}"
          >
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{each leads.docs}}
                  <tr>
                    <td>
                      <a href="/bdm-lead/{{$value._id.toString()}}">
                      {{$value.first_name | titleCase}}
                      {{$value.last_name | titleCase}}
                      </a>
                    </td>
                    <td>{{$value.mobile}}</td>
                    <td>{{$value.email}}</td>
                    <td>{{$value.status | titleCase}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul
            class="pagination justify-content-center m-0"
            id="pagination"
          ></ul>
        </nav>
      </div>
    </div>
  </div>
  {{/if}}
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  const page = parseInt('{{leads.page}}');
  const totalPages = parseInt('{{leads.totalPages}}');
  const totalDocs = parseInt('{{leads.totalDocs}}');

  function navigate(url) {
    window.location.href = url;
  }

  function search(page) {
    let url = window.location.href.split('?')[0];
    let setting = '{{CURRENT_BDM_SETTING}}';
    url += `?setting=${setting}&page=${page}`;
    window.location.href = url;
  }

  $(document).ready(function () {
    $('#pagination').html(pagination(page, totalPages, totalDocs, 'search'));
  });
</script>
{{/block}}
