{{extend './layout.html'}}
<!-- contenet -->
{{block 'content'}}
<link rel="stylesheet" href="/assets/plugins/fullcalendar/main.css" />
<div class="row">
  <div class="col-md-3">
    <input type='hidden' id='view_type' name='view_type' value='timeGridWeek' >
    <input type='hidden' id='date_nav' name='date_nav' value=0>
    {{include './components/search_select.html', { name: 'outcome', remove_empty: true, options: outcome_list } }}
  </div>
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-body p-0">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
{{/block}}{{block 'javascript'}}
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/plugins/fullcalendar/main.js"></script>
<script src="/app/global.js"></script>
<script>
  const _id = '{{AUTH._id.toString()}}';
  const socket = io();
  socket.on('page reload', (msg) => {
    if (msg.page === '/calendar' && msg._id === _id) {
      window.location.reload();
    }
  });

  document.getElementById('view_type').value = decodeHTML(
    '{{search.view_type | escapeBackslash}}'
  );
  document.getElementById('date_nav').value = decodeHTML(
    '{{search.date_nav | escapeBackslash}}'
  );
  document.getElementById('outcome').value = decodeHTML(
    '{{search.outcome | escapeBackslash}}'
  );
  
  var colors = {
    'BOOKED': '#6610f2',
    'MEETING_SAT': '#3d9970',
    'NO_SHOW': '#d81b60' ,
    'CANCELED': '#dc3545',
  }

  //title must be name
  var meeting_events = [
    {{each meetings}}
      { 
        title : `{{$value.lead_id.first_name}} {{$value.lead_id.last_name}}`,
        start : new Date(`{{@$value.datetime | formatDateRaw}}`),
        url : `{{$value.lead_id._id.toString()}}`,
        extendedProps: {
          note: `{{$value.note}}`,
          address: `{{$value.address}}`,
        }, //if you to add any
        color : colors[`{{$value.outcome}}`],
        eventTimeFormat: {
          hour: 'numeric',
          minute: '2-digit',
          meridiem: 'short'
        }
      },
      
    {{/each}}
  ]

  function search() {
    let url = window.location.href.split('?')[0];
    let view_type = $('#view_type').val();
    let date_nav = $('#date_nav').val();
    let outcome = $('#outcome').val();
    url += `?date_nav=${date_nav}&view_type=${view_type}&outcome=${outcome}`;
    window.location.href = url;
  }
  

  var open_meeting = function(info) {
    info.jsEvent.preventDefault(); 
    
    // to manage if by timeGridWeek or dayGridMonth  
    console.log(info.view.type);
    console.log(info.event.extendedProps);
    //check if url exist
    if (info.event.url) {
      let lead_info = `/lead/edit/${info.event.url}`
      window.open(lead_info);
    }
  }

  var hover_meeting = function(info) {
    let note = `[address]: ${info.event.extendedProps.address}`
    note += `<br>[note]: ${info.event.extendedProps.note}`
    new Opentip(info.el, note, {
      tipJoint: 'top',
      className: 'calendar-tip',
      lastZIndex: 10000,
    });
    Opentip.lastZIndex = 10000;
    console.log(Opentip)
  }

  

  $(function () {
    var Calendar = FullCalendar.Calendar;
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
        
    
    
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: '{{search.view_type}}',
      initialDate: '{{init_date}}',
      customButtons: {
        custom_prev: {
          text: 'PREV',
          click: function() {
            let page = parseInt($('#date_nav').val())
            $('#date_nav').val(page - 1)
            search()
          }
        },
        custom_next: {
          text: 'NEXT',
          click: function() {
            let page = parseInt($('#date_nav').val())
            $('#date_nav').val(page + 1)
            search()
          }
        },
        custom_month: {
          text: 'Month',
          click: function() {
            $('#date_nav').val(0)
            let page = parseInt($('#date_nav').val())
            $('#view_type').val('dayGridMonth')
            search()
          }
        },
        custom_week: {
          text: 'Week',
          click: function() {
            $('#date_nav').val(0)
            let page = parseInt($('#date_nav').val())
            $('#view_type').val('timeGridWeek')
            search()
          }
        }
      },

      
      eventClick: open_meeting,
      eventDidMount: hover_meeting,
      
      headerToolbar: {
        left  : 'custom_prev,custom_next',
        center: 'title',
        right : 'custom_week,custom_month'
        //right : ''
      },
      themeSystem: 'bootstrap5',
      //events on db
      events: meeting_events,
      //exclusive for week view
      allDaySlot: false,
      slotDuration: {hours: 1},

      //exclusive for month view
      dayMaxEvents: true,
    });

    //calendar.changeView('{{view_type}}');
    
    calendar.render();
  });

</script>
{{/block}}

