{{extend './layout.html'}}
<!-- contenet -->
{{block 'content'}}
<link rel="stylesheet" href="/assets/plugins/fullcalendar/main.css" />
<div class="row">
  <input type='hidden' id='view' name='view' value='month' >
  <input type='hidden' id='date_nav' name='date_nav' value=0>
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-body p-0">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
{{/block}}{{block 'javascript'}}
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/plugins/fullcalendar/main.js"></script>
<script src="/app/global.js"></script>
<script>
  document.getElementById('date_nav').value = decodeHTML(
    '{{search.date_nav | escapeBackslash}}'
  );

  var meeting_events = [
    {{each meetings}}
      { 
        title: `{{$value.note}}`,
        start: new Date(`{{@$value.datetime | formatDateRaw}}`),
        backgroundColor: '#f39c12', //yellow
        borderColor    : '#f39c12' //yellow
      },
      
    {{/each}}
  ]

  function paginate() {
    let url = window.location.href.split('?')[0];
    let type = $('#view').val();
    let date_nav = $('#date_nav').val();
    url += `?date_nav=${date_nav}&type=${type}`;
    window.location.href = url;
  }

  $(function () {
    var Calendar = FullCalendar.Calendar;
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
        
    
    
    var calendarEl = document.getElementById('calendar');
    var calendar = new Calendar(calendarEl, {
      initialDate: '{{init_date}}',
      customButtons: {
        custom_prev: {
          text: 'PREV',
          click: function() {
            let page = parseInt($('#date_nav').val())
            $('#date_nav').val(page - 1)
            paginate()
          }
        },
        custom_next: {
          text: 'NEXT',
          click: function() {
            let page = parseInt($('#date_nav').val())
            $('#date_nav').val(page + 1)
            paginate()
          }
        }
      },


      headerToolbar: {
        left  : 'custom_prev,custom_next today',
        center: 'title',
        //right : 'dayGridMonth,timeGridWeek,timeGridDay'
        right : ''
      },
      themeSystem: 'bootstrap5',
      //Random default events
      events: meeting_events,
      //editable  : true,
      //droppable : true, // this allows things to be dropped onto the calendar !!!
    });

    
    calendar.render();
  });

</script>
{{/block}}

