<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    {{include './partials/head.html'}}
  </head>
  <body
    class="sidebar-mini layout-fixed sidebar-collapse layout-fixed-footer text-sm layout-footer-fixed layout-navbar-fixed"
  >
    <div class="wrapper">
      <!-- navbar -->
      {{include './partials/navbar.html'}}
      <!-- sidebar -->
      {{include './partials/sidebar.html'}}
      <div class="content-wrapper">
        <!-- breadcrumb -->
        {{include './partials/breadcrumb.html'}}
        <section class="content">
          <div class="container-fluid">
            <!-- content -->
            {{block 'content'}}{{/block}}
          </div>
        </section>
      </div>
      <!-- footer -->
      {{include './partials/footer.html'}}
      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
    <!-- scripts -->
    {{include './partials/scripts.html'}}
    <!-- javascript -->
    {{block 'javascript'}}{{/block}}
  </body>
</html>
