{{extend './layout.html'}} {{block 'content'}}
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <form id="lead_form" action="/lead/update" method="post">
        <div class="card-body">
          
          {{include './components/hidden_id.html', { value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'first_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'last_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'job_title', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'company', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'profile_link', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'gender', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'business_no', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'second_mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'email', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'second_email', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'nationality', value: lead} }}
          {{include './components/textarea.html', { name: 'description', value: lead} }}
        </div>
        <input type="hidden" name="date" id='hidden_date'/>
        <input type="hidden" name="time" id='hidden_time'/>
        <input type="hidden" name="note" id='hidden_note'/>
        <input type="hidden" name="status" id='hidden_status'/>
      </form>
        <div class="card-footer">
          <div class="form-group">
            <button 
              onclick='submitUpdate()'
              class="btn bg-teal btn-block font-weight-bold"
              ><i class="fas fa-save"></i> Update Lead</button>
          </div>
        </div>
    </div>
  </div>
  
  <div class="col-md-8">


    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            {{include './components/input_text.html', {type: 'text', name: 'date', value: lead} }}
            {{include './components/textarea.html', { name: 'note', value: lead} }}
          </div>
          <div class="col-md-6">
            {{include './components/input_text.html', {type: 'text', name: 'time', value: lead} }}
            {{include './components/select.html', { name: 'status', value: lead, options: LEAD_STATUS} }}
            <div class="form-group">
              <button 
                onclick='submitStatusUpdate()'
                class="btn bg-teal btn-block font-weight-bold"
                ><i class="fas fa-save"></i> Update Status</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        LOGS
      </div>
    </div>
  </div>
</div>
{{/block}}{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}

  function submitUpdate() {
    appendAction()
    document.getElementById("lead_form").submit();
  }
  function submitStatusUpdate() {
    appendAction()
    document.getElementById("lead_form").action = "/lead/update-status";
    document.getElementById("lead_form").submit()
  }

  function appendAction(){
    document.getElementById('hidden_date').value = document.getElementById('date').value;
    document.getElementById('hidden_time').value = document.getElementById('time').value;
    document.getElementById('hidden_note').value = document.getElementById('note').value;
    document.getElementById('hidden_status').value = document.getElementById('status').value;
  }
  
</script>
{{/block}}

