{{extend './layout.html'}} {{block 'content'}}
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <form action="/lead-management/update" method="post">
        <div class="card-header">
          <h3 class="card-title font-weight-bold">
            <i class="far fa-address-card"></i> Lead Information
          </h3>
        </div>
        <div class="card-body">
          
          {{include './components/hidden_id.html', { value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'first_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'last_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'nationality', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'country', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'city', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'job_title', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'company', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'profile_link', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'gender', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'business_no', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'second_mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'personal_email', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'work_email', value: lead} }}
          {{include './components/textarea.html', { name: 'description', value: lead} }}
          <input type="hidden" name="status" id='status' value="{{lead.status}}"/>
          <input type="hidden" name="hierarchy" id='hierarchy' value="{{lead.hierarchy}}"/>
        </div>

        <div class="card-footer">
          <div class="form-group">
            <button 
              type="submit" 
              class="btn bg-teal btn-block font-weight-bold"
            ><i class="fas fa-save"></i> Update Lead</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-history"></i> Logs
        </h3>
      </div>
      
      <div class="card-body">
        {{include './components/log_tabs.html', {update_logs: update_logs} }}
      </div>
    </div>
  </div>
</div>
{{/block}}{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }
  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}

