{{extend './layout.html'}} {{block 'content'}}
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <form id="lead_form" action="/lead/update" method="post">
        <div class="card-header">
          <h3 class="card-title font-weight-bold">
            <i class="far fa-address-card"></i>  Lead Information {{@lead.status | leadStatusBadge}}
          </h3>
        </div>
        <div class="card-body">
          
          {{include './components/hidden_id.html', { value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'first_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'last_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'nationality', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'country', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'city', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'job_title', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'company', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'profile_link', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'gender', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'business_no', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'second_mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'personal_email', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'work_email', value: lead} }}
          {{include './components/textarea.html', { name: 'description', value: lead} }}
          <input type="hidden" name="status" id='status' value="{{lead.status}}"/>
          <input type="hidden" name="hierarchy" id='hierarchy' value="{{lead.hierarchy}}"/>
        </div>
        <!--input type="hidden" name="date" id='hidden_date'/>
        <input type="hidden" name="time" id='hidden_time'/-->
        <input type="hidden" name="datetime" id='hidden_datetime'/>
        <input type="hidden" name="address" id='hidden_address'/>
        <input type="hidden" name="product" id='hidden_product'/>
        <input type="hidden" name="program" id='hidden_program'/>

        <input type="hidden" name="status_log" id='hidden_status_log'/>
        <input type="hidden" name="note" id='hidden_note'/>

        <input type="hidden" name="meeting_id" id='hidden_meeting_id'/>
        <input type="hidden" name="outcome" id='hidden_outcome'/>
        <input type="hidden" name="outcome_note" id='hidden_outcome_note'/>
        <input type="hidden" name="is_first_meeting" id='hidden_is_first_meeting'/>
        <input type="hidden" name="is_second_meeting" id='hidden_is_second_meeting'/>

      </form>
        <div class="card-footer">
          <div class="form-group">
            <button 
              onclick='submitUpdate(`update`)'
              class="btn bg-teal btn-block font-weight-bold"
              ><i class="fas fa-save"></i> Update Lead</button>
          </div>
        </div>
    </div>
  </div>
  
  <div class="col-md-8">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="far fa-edit"></i>  Status Log
        </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            {{include './components/input_datetimev2.html', { name: 'datetime', value: lead} }}
            {{include './components/input_text.html', {type: 'text', name: 'address', value: lead} }}
            {{include './components/select.html', { name: 'product', value: lead, options: PRODUCTS} }}
            {{include './components/select.html', { name: 'program', value: lead, options: PROGRAMS} }}
            
          </div>
          <div class="col-md-6">
            {{include './components/select.html', { name: 'status_log', value: lead, options: LEAD_STATUS} }}
            {{include './components/textarea.html', { name: 'note', value: lead} }}
            
            <div class="form-group">
              <button 
                onclick='submitUpdate(`update-status`)'
                class="btn bg-teal btn-block font-weight-bold"
                ><i class="fas fa-save"></i> Update Status</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="far fa-handshake"></i> Meeting
        </h3>
      </div>
      <div class="card-body">
        <div class="timeline">
          {{each meeting}}
            {{include './components/meeting_timeline.html', {meeting: $value, outcome: OUTCOME, hierarchy: lead.hierarchy} }}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-history"></i> Logs
        </h3>
      </div>
      
      <div class="card-body">
        
        {{include './components/log_tabs.html', {update_logs: update_logs} }}
        
      </div>
    </div>
  </div>
</div>
{{/block}}{{block 'javascript'}}
<script>
  let post_meeting = `{{lead.meeting_id}}`
  let post_outcome = `{{lead.outcome}}`
  let post_outcome_note = `{{lead.outcome_note}}`
  
  function handleError(key, value) {
    if(post_meeting == '') {
      $(`[name="${key}"]`).addClass('is-invalid');
      $(`#${key}_error`).html(value);
    } else {
      $(`#${post_meeting} [name="${key}"]`).addClass('is-invalid');
      $(`#${post_meeting} #${key}_error`).html(value);
    }
  }

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}

  var status_fields = ['status_log', 'note', 'datetime', 'address', 'product', 'program']
  function submitUpdate(action) {
    //reason: so inputs are returned to view
    for (let i = 0; i < status_fields.length; i++) {
      document.getElementById(`hidden_${status_fields[i]}`).value = document.getElementById(status_fields[i]).value;
    }
    document.getElementById("lead_form").action = `/lead/${action}`;
    
    Swal.fire({
      title: 'Do you want to update this Lead?',
      icon: 'question',
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonText: '<i class="fas fa-save"></i> Update',
      confirmButtonColor: '#20c997',
      cancelButtonText: '<i class="fas fa-times"></i> Cancel',
      cancelButtonColor: '#d81b60',
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("lead_form").submit();
      }
    });
  }

  var outcome_fields = ['meeting_id', 'outcome', 'outcome_note']
  function submitUpdateMeeting(meeting_id) {
    //reason: so inputs are returned to view
    for (let i = 0; i < status_fields.length; i++) {
      $(`#hidden_${outcome_fields[i]}`).val( $(`#${meeting_id} #${outcome_fields[i]}`).val())
    }

    $(`#hidden_is_first_meeting`).val($(`#${meeting_id} #is_first_meeting`).is(':checked'))
    $(`#hidden_is_second_meeting`).val($(`#${meeting_id} #is_second_meeting`).is(':checked'))
    document.getElementById("lead_form").action = `/lead/meeting-update`;
    
    Swal.fire({
      title: 'Do you want to update this lead meeting?',
      icon: 'question',
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonText: '<i class="fas fa-save"></i> Update',
      confirmButtonColor: '#20c997',
      cancelButtonText: '<i class="fas fa-times"></i> Cancel',
      cancelButtonColor: '#d81b60',
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("lead_form").submit();
      }
    });
  }
  

  
  function changeActions(initial = false) {
    let disabled = true
    if(document.getElementById("status_log").value == 'MEETING') disabled = false
    //clearAndDisable('date', disabled, initial)
    //clearAndDisable('time', disabled, initial)
    clearAndDisable('datetime', disabled, initial)
    clearAndDisable('address', disabled, initial)

    if(document.getElementById("status_log").value == 'CLIENT') disabled = false
    if(document.getElementById("status_log").value == 'MEETING') disabled = true
    clearAndDisable('product', disabled, initial)
    clearAndDisable('program', disabled, initial)
  }
  
  function clearAndDisable(field, disabled, initial) {
    if(!initial) document.getElementById(field).value = ''
    document.getElementById(field).disabled = disabled
  }

  function meeting_outcome(meeting_id) {
    if($(`#${meeting_id} #outcome`).val() == 'MEETING_SAT') {
      $(`#${meeting_id} #hierarchy_container`).attr("style", "display:block");
    } else {
      $(`#${meeting_id} #hierarchy_container`).attr("style", "display:none");
    }
  }

  $(function () {
    //$("#date").datetimepicker({format: 'YYYY-MM-DD'});
    //$('#time').datetimepicker({format: 'LT'});
    $('.datetimev2').datetimepicker({
      formatTime:'h:i A',
      allowTimes:
      [
        '08:00', '09:00', '10:00', '11:00', '12:00', '13:00',
        '14:00', '15:00', '16:00', '17:00', '18:00', '19:00',
      ],
      format:'Y-m-d h:i A',
      //onSelectTime:function(current_time,$input) { 
      //  let original = $input.val()
      //  $input.blur() 
      //  $input.val(original)
      //},
    });
    //better formater
    $(".datetimev2").blur(function() {
      let time = parseInt(this.value.slice(11, 13)) + 1
      time = time == 13 ? '01:00' : time + ':00'
      time = time.length == 5 ? time : '0' + time
      this.value = this.value.slice(0, 11) + time + this.value.slice(-3)
    });
    
    //bind on change
    document.getElementById("status_log").setAttribute("onchange", 'changeActions()');
    changeActions(true);
    
    if(post_meeting != '') {
      $(`#${post_meeting} #outcome`).val(post_outcome);
      $(`#${post_meeting} #outcome_note`).html(post_outcome_note);
      meeting_outcome(post_meeting);
    }
  });
  
  
</script>
{{/block}}

