{{extend './layout.html'}} {{block 'content'}}
<div class="card">
  <div class="card-body">
    <form id='form_upload' action="/lead-management/new_upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Upload Name</label>
        <input
          type="text"
          class="form-control"
          id="upload_name"
          name="upload_name"
          value="{{if body}}{{body.upload_name}}{{/if}}" 
        />
        <small id="upload_name_error" class="form-text text-danger"></small>
      </div>
      <button type="button" class="btn btn-sm btn-info float-right" data-toggle="modal" data-target="#modal-lg">
        <i class="fas fa-info-circle"></i> View Upload field details
      </button>
      <div class="form-group">
        <label for="file_input">File input</label>
        <div class="input-group">
          <div class="custom-file">
            <input 
              type="file" 
              class="custom-file-input" 
              id="file_input"
              name="file_input">
            <label class="custom-file-label" for="file_input">Choose file</label>
          </div>
        </div>
        <small id="file_input_error" class="form-text text-danger"></small>
      </div>
    </form>
      <div class="form-group">
        <a href="/app/cbi_template.csv" class="btn bg-teal btn-block font-weight-bold">
          <i class="fas fa-file-download"></i>
          Download Template
        </a>
      </div>
      <div class="form-group">
        <button onclick='submitUpload()' class="btn bg-info btn-block font-weight-bold">
          <i class="fas fa-file-upload"></i> Upload
        </button>
      </div>
  </div>
</div>

<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">         
        <ul>																
          <li>first_name - (Free text)</li>
          <li>last_name - (Free text)</li>
          <li>job_title - (Free text)</li>
          <li>company - (Free text)</li>
          <li>profile_link - (Proper URL)</li>
          <li>gender - (Male or Female)</li>

          <li>business_no - (Tilde(`) + Countrycode + Number) [sample: `971527*****9]</li>
          <li>mobile - (Tilde(`) + Countrycode + Number) [sample: `971527*****9]</li>
          <li>second_mobile - (Tilde(`) + Countrycode + Number) [sample: `971527*****9]</li>
          
          <li>personal_email - (Proper Email)</li>
          <li>work_email - (Proper Email)</li>
          <li>nationality - (Free text)</li>
          <li>description - (Free text)</li>
          <li>ifa_email - (Proper Email) [Note: Email must be from users to properly allocate the first meeting]</li>
          <li>meeting_date - (MM/DD/YYYY) [sample: 7/10/2023]</li>
          <li>meeting_time - (HH:mm A) [sample: 2:00 PM or 2:00:00 PM]</li>
          <li>meeting_address - (Free text)</li>
          <li>meeting_note - (Free text)</li></li>
        </ul>  
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{{/block}}{{block 'javascript'}}
<script src="/assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  $(function () {
    bsCustomFileInput.init();
  });

  function handleError(key, value) {
    $(`#${key}`).addClass('is-invalid')
    $(`#${key}_error`).html(value)
  }

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}

  
  function submitUpload() {
    Swal.fire({
      title: 'Do you want to Upload this file?',
      icon: 'question',
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonText: '<i class="fas fa-save"></i> Create',
      confirmButtonColor: '#20c997',
      cancelButtonText: '<i class="fas fa-times"></i> Cancel',
      cancelButtonColor: '#d81b60',
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("form_upload").submit();
      }
    });
  }
  
</script>
{{/block}}

