{{extend './layout.html'}} {{block 'content'}}

<link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
<div class="row">
  <div class="col-md-3">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-search"></i> Search
        </h3>
      </div>
      <div class="card-body">

        {{if (type == 'lead')}}
          <input type='hidden' id='batch' name='batch'>
          <div class="form-group">
            {{if search.batch}}
            <a href="/lead-management" class="btn bg-maroon btn-block form-control">
              <i class="fas fa-eraser"></i>
              Clear Selected Batch
            </a>
            {{/if}}
          </div>
          {{include './components/search_box.html', { name: 'name'} }}
          {{include './components/search_box.html', { name: 'email'} }}
          {{include './components/search_box.html', { name: 'contact'} }}
          {{include './components/search_box.html', { name: 'job_title'} }}
          {{include './components/search_box.html', { name: 'company'} }}
          {{include './components/search_select.html', { name: 'product', options: PRODUCTS} }}
          {{include './components/search_select.html', { name: 'hierarchy', options: HIERARCHY} }}
          {{include './components/search_select.html', { name: 'status', options: LEAD_STATUS} }}
          {{include './components/search_datetime.html', { name: 'upload_date' } }}
          {{include './components/search_select_id.html', { name: 'allocated_to', options: IFA} }}
      
        {{else}}
          {{include './components/search_box.html', { name: 'name'} }} 
        {{/if}}
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-cog"></i> Option
        </h3>
      </div>
      <div class="card-body">
        <div class="form-group">
            <a href="/lead-management/upload" class="btn bg-teal btn-block font-weight-bold">
              <i class="fas fa-file-upload"></i>
              Upload File
            </a>
            <a href="/lead-management/add" class="btn bg-teal btn-block font-weight-bold">
              <i class="fas fa-user-plus"></i>
              Add Lead
            </a>
            {{if (type == 'lead')}}
              <a href="/lead-management" class="btn bg-teal btn-block font-weight-bold">
                <i class="fas fa-user-check"></i>
                Allocate
              </a>
            {{/if}}
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-9">
    <!--made by button to remove one search-->
    <div class="card card-primary card-outline card-outline-tabs">
      <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item">
          <a
            href=""
            onclick="window.location = '/lead-management?page=1&type=lead'"
            data-toggle="tab"
            class="nav-link text-uppercase {{if type == 'lead'}}active{{/if}}"
            >Leads</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            onclick="window.location = '/lead-management?page=1&type=batch'"
            data-toggle="tab"
            class="nav-link text-uppercase {{if type == 'batch'}}active{{/if}}"
            >Batches</a
          >
        </li>
      </ul>
      
      <div class="card-body p-0">
        {{if type == 'lead'}}
          <table class="table table-striped">
            <thead>
              <tr>
                <th style='width: 1px'></th>
                <th><i class="far fa-user"></i> Full Name</th>
                <th><i class="fas fa-briefcase"></i> Job Title</th>
                <th><i class="far fa-building"></i> Company</th>
                <th><i class="fas fa-mobile-alt"></i> Mobile</th>
                <th><i class="fas fa-stream"></i> Hierarchy</th>
                <th><i class="far fa-id-badge"></i> Status</th>
              </tr>
            </thead>
            <tbody>
              {{each list.docs}}
              <tr>
                <td>
                  <div class="icheck-info d-inline">
                    <input type="checkbox" id="checkbox_{{$index}}">
                    <label for="checkbox_{{$index}}">
                    </label>
                  </div>
                </td>
                <td>
                  <i class="far fa-user"></i>
                  <a
                    href="/lead-management/edit/{{$value._id.toString()}}"
                    rel="nofollow noopener noreferrer"
                    class="text-info"
                    id="user{{$index}}"
                    data-ot="Click to view details"
                    data-ot-delay="0"
                    data-ot-tip-joint="bottom"
                    data-ot-hide-delay="0"
                    data-ot-target="#user{{$index}}"
                    data-ot-fixed="true"
                  >
                    {{$value.first_name | titleCase}} {{$value.last_name |
                    titleCase}}
                  </a></td>
                <td><i class="fas fa-briefcase"></i> {{$value.job_title}}</td>
                <td><i class="far fa-building"></i> {{$value.company}}</td>
                <td><i class="fas fa-mobile-alt"></i> {{$value.mobile}}</td>
                <td>{{@$value.hierarchy | leadHierarchyBadge}}</td>
                <td>{{@$value.status | leadStatusBadge}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="row">
          {{each list.docs}}
            <div class="col-md-4 p-2 pl-3 pr-3">
              <!-- Widget: user widget style 2 -->
              <div class="card card-widget widget-user-2 shadow">
                <div class="widget-user-header {{if $value.status == 'ACTIVE'}}bg-teal{{else}}bg-purple{{/if}}">
                  <h3 class="">{{$value.upload_name}}</h3>
                  <h5 class="">{{@$value.created_at | formatDate}}</h5>
                </div>
                <div class="card-footer p-0">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a href="/lead-management?page=1&type=lead&batch={{$value.id}}" class="nav-link">
                        UPLOADED <span class="float-right badge bg-teal">{{$value.uploaded}}</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <!--a href="/lead-management?page=1&type=lead&batch={{$value.id}}&status=INACTIVE" class="nav-link">
                        INVALID <span class="float-right badge bg-maroon">{{$value.invalid}}</span>
                      </a-->
                      <label class="nav-link">
                        INVALID <span class="float-right badge bg-maroon">{{$value.invalid}}</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        {{/if}}
      </div>

      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul
            class="pagination justify-content-center m-0"
            id="pagination"
          ></ul>
        </nav>
      </div>

    </div>

  </div>
</div>
{{/block}} {{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  const page = parseInt('{{list.page}}');
  const totalPages = parseInt('{{list.totalPages}}');
  const totalDocs = parseInt('{{list.totalDocs}}');
  document.getElementById('name').value = decodeHTML(
    '{{search.name | escapeBackslash}}'
  );
  
  {{if type == 'lead'}}
    document.getElementById('batch').value = decodeHTML(
      '{{search.batch | escapeBackslash}}'
    );
    
    document.getElementById('email').value = decodeHTML(
      '{{search.email | escapeBackslash}}'
    );
    document.getElementById('contact').value = decodeHTML(
      '{{search.contact | escapeBackslash}}'
    );
    document.getElementById('job_title').value = decodeHTML(
      '{{search.job_title | escapeBackslash}}'
    );
    document.getElementById('company').value = decodeHTML(
      '{{search.company | escapeBackslash}}'
    );
    document.getElementById('product').value = decodeHTML(
      '{{search.product | escapeBackslash}}'
    );
    document.getElementById('hierarchy').value = decodeHTML(
      '{{search.hierarchy | escapeBackslash}}'
    );
    document.getElementById('status').value = decodeHTML(
      '{{search.status | escapeBackslash}}'
    );
    document.getElementById('upload_date').value = decodeHTML(
      '{{search.upload_date | escapeBackslash}}'
    );
    document.getElementById('allocated_to').value = decodeHTML(
      '{{search.allocated_to | escapeBackslash}}'
    );
  {{/if}}
  

  function search(page = 1) {
    let url = window.location.href.split('?')[0];
    let name = $('#name').val();
    let email = $('#email').val();
    let contact = $('#contact').val();
    let job_title = $('#job_title').val();
    let company = $('#company').val();
    let product = $('#product').val();
    let hierarchy = $('#hierarchy').val();
    let status = $('#status').val();
    let upload_date = $('#upload_date').val();
    let allocated_to = $('#allocated_to').val();

    url += `?page=${page}&type={{type}}`;
    if (name) url += `&name=${name}`;
    if (email) url += `&email=${email}`;
    if (contact) url += `&contact=${contact}`;
    if (job_title) url += `&job_title=${job_title}`;
    if (company) url += `&company=${company}`;
    if (product) url += `&product=${product}`;
    if (hierarchy) url += `&hierarchy=${hierarchy}`;
    if (status) url += `&status=${status}`;
    if (upload_date) url += `&upload_date=${upload_date}`;
    if (allocated_to) url += `&allocated_to=${allocated_to}`;
    window.location.href = url;
  }

  $(function () {
    $('#pagination').html(pagination(page, totalPages, totalDocs, 'search'));
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('.datetimev2').datetimepicker({
      format:'Y-m-d',
      timepicker:false,
    });
  });
  
</script>
{{/block}}
