{{extend './layout.html'}} {{block 'content'}}

<link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
<div class="row">
  <div class="col-md-3">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-search"></i> Search
        </h3>
      </div>
      <div class="card-body">

        {{if (type == 'lead')}}
          <input type='hidden' id='batch' name='batch'>
          
          <div class="form-group">
            {{if search.batch}}
            <a href="/lead-management" class="btn bg-maroon btn-block form-control">
              <i class="fas fa-eraser"></i>
              Clear Selected Batch
            </a>
            {{/if}}
          </div>
          <div class="form-group">
            <input
              type="search"
              class="form-control"
              placeholder="Name, first name, last name"
              id="search"
              onsearch="search(1);"
            />
          </div>
          <div class="form-group">
            <input
              type="search"
              class="form-control"
              placeholder="Job Title"
              id="job"
              onsearch="search(1);"
            />
          </div>
          <div class="form-group">
            <input
              type="search"
              class="form-control"
              placeholder="Company"
              id="company"
              onsearch="search(1);"
            />
          </div>
          <div class="form-group">
            <select 
              class="form-control select2bs4" 
              id="status" 
              name="status" 
              onchange="search(1);"
            >
              <option value="">Select status</option>
              {{each LEAD_STATUS}}
              <option value="{{$value}}">{{$value}}</option>
              {{/each}}
            </select>
          </div>
          
        {{else}}
          <div class="form-group">
            <label>Upload Name</label>
            <input
              type="search"
              class="form-control"
              id="search"
              onsearch="search(1);"
            />
          </div>  
        {{/if}}
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-cog"></i> Option
        </h3>
      </div>
      <div class="card-body">
        <div class="form-group">
            <a href="/lead-management/upload" class="btn bg-teal btn-block font-weight-bold">
              <i class="fas fa-file-upload"></i>
              Upload File
            </a>
            <a href="/lead-management/add" class="btn bg-teal btn-block font-weight-bold">
              <i class="fas fa-user-plus"></i>
              Add Lead
            </a>
            {{if (type == 'lead')}}
              <a href="/lead-management" class="btn bg-teal btn-block font-weight-bold">
                <i class="fas fa-user-check"></i>
                Allocate
              </a>
            {{/if}}
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-9">
    <!--made by button to remove one search-->
    <div class="card card-primary card-outline card-outline-tabs">
      <!--div class="card-header p-0 border-bottom-0">
        <div class="btn-group w-100 mb-2">
          <a class="btn btn-info {{if type == 'lead'}}active{{/if}}" href="/lead-management?page=1&type=lead"> Leads </a>
          <a class="btn btn-info {{if type == 'batch'}}active{{/if}}" href="/lead-management?page=1&type=batch"> Lead Batches </a>
        </div>
      </div-->

      <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item">
          <a
            href=""
            onclick="window.location = '/lead-management?page=1&type=lead'"
            data-toggle="tab"
            class="nav-link text-uppercase {{if type == 'lead'}}active{{/if}}"
            >Leads</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            onclick="window.location = '/lead-management?page=1&type=batch'"
            data-toggle="tab"
            class="nav-link text-uppercase {{if type == 'batch'}}active{{/if}}"
            >Batches</a
          >
        </li>
      </ul>
      
      <div class="card-body p-0">
        {{if type == 'lead'}}
          <table class="table table-striped">
            <thead>
              <tr>
                <th style='width: 1px'></th>
                <th><i class="far fa-user"></i> Full Name</th>
                <th><i class="fas fa-briefcase"></i> Job Title</th>
                <th><i class="far fa-building"></i> Company</th>
                <th><i class="fas fa-mobile-alt"></i> Mobile</th>
                <th><i class="far fa-id-badge"></i> Status</th>
              </tr>
            </thead>
            <tbody>
              {{each list.docs}}
              <tr>
                <td>
                  <div class="icheck-info d-inline">
                    <input type="checkbox" id="checkbox_{{$index}}">
                    <label for="checkbox_{{$index}}">
                    </label>
                  </div>
                </td>
                <td>
                  <i class="far fa-user"></i>
                  <a
                    href="/lead-management/edit/{{$value._id.toString()}}"
                    rel="nofollow noopener noreferrer"
                    class="text-info"
                    id="user{{$index}}"
                    data-ot="Click to view details"
                    data-ot-delay="0"
                    data-ot-tip-joint="bottom"
                    data-ot-hide-delay="0"
                    data-ot-target="#user{{$index}}"
                    data-ot-fixed="true"
                  >
                    {{$value.first_name | titleCase}} {{$value.last_name |
                    titleCase}}
                  </a></td>
                <td><i class="fas fa-briefcase"></i> {{$value.job_title}}</td>
                <td><i class="far fa-building"></i> {{$value.company}}</td>
                <td><i class="fas fa-mobile-alt"></i> {{$value.mobile}}</td>
                <td>{{@$value.status | userStatusBadge}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="row">
          {{each list.docs}}
            <div class="col-md-4 p-2 pl-3 pr-3">
              <!-- Widget: user widget style 2 -->
              <div class="card card-widget widget-user-2 shadow">
                <div class="widget-user-header {{if $value.status == 'ACTIVE'}}bg-teal{{else}}bg-purple{{/if}}">
                  <h3 class="">{{$value.upload_name}}</h3>
                  <h5 class="">{{@$value.created_at | formatDate}}</h5>
                </div>
                <div class="card-footer p-0">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a href="/lead-management?page=1&type=lead&batch={{$value.id}}&status=ACTIVE" class="nav-link">
                        ACTIVE <span class="float-right badge bg-teal">{{$value.uploaded}}</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/lead-management?page=1&type=lead&batch={{$value.id}}&status=INACTIVE" class="nav-link">
                        INACTIVE <span class="float-right badge bg-maroon">{{$value.allocated}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        {{/if}}
      </div>

      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul
            class="pagination justify-content-center m-0"
            id="pagination"
          ></ul>
        </nav>
      </div>

    </div>

  </div>
</div>
{{/block}} {{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  const page = parseInt('{{list.page}}');
  const totalPages = parseInt('{{list.totalPages}}');
  const totalDocs = parseInt('{{list.totalDocs}}');
  document.getElementById('search').value = decodeHTML(
    '{{search.search | escapeBackslash}}'
  );
  document.getElementById('job').value = decodeHTML(
    '{{search.job | escapeBackslash}}'
  );
  document.getElementById('batch').value = decodeHTML(
    '{{search.batch | escapeBackslash}}'
  );
  document.getElementById('status').value = decodeHTML(
    '{{search.status | escapeBackslash}}'
  );
  document.getElementById('company').value = decodeHTML(
    '{{search.company | escapeBackslash}}'
  );
  

  function search(page) {
    let url = window.location.href.split('?')[0];
    let search = $('#search').val();
    let job = $('#job').val();
    let status = $('#status').val();
    let company = $('#company').val();
    url += `?page=${page}&type={{type}}`;
    if (search) url += `&search=${search}`;
    if (job) url += `&job=${job}`;
    if (company) url += `&company=${company}`;
    if (status) url += `&status=${status}`;
    window.location.href = url;
  }

  $(function () {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#pagination').html(pagination(page, totalPages, totalDocs, 'search'));
  });
  
</script>
{{/block}}
