{{extend './layout.html'}} {{block 'content'}}
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <form action="/lead-management/update" method="post">
        <div class="card-body">
          
          {{include './components/hidden_id.html', { value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'first_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'last_name', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'job_title', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'company', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'profile_link', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'gender', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'business_no', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'second_mobile', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'email', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'second_email', value: lead} }}
          {{include './components/input_text.html', {type: 'text', name: 'nationality', value: lead} }}
          {{include './components/textarea.html', { name: 'description', value: lead} }}
          {{include './components/select.html', { name: 'status', value: lead, options: LEAD_STATUS} }}
        </div>

        <div class="card-footer">
          <div class="form-group">
            <button 
              type="submit" 
              class="btn bg-teal btn-block font-weight-bold"
            ><i class="fas fa-save"></i> Update Lead</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        LOGS
      </div>
    </div>
  </div>
</div>
{{/block}}{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }
  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}

