<!-- layout -->
{{extend './layout.html'}}
<!-- content -->
{{block 'content'}}
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-search"></i> Search
        </h3>
      </div>
      <div class="card-body p-2">
        <!-- first name -->
        {{include './components/search_box.html', { name: 'first_name' } }}
        <!-- last name -->
        {{include './components/search_box.html', { name: 'last_name' } }}
        <!-- email -->
        {{include './components/search_box.html', { name: 'email' } }}
        <!-- type -->
        {{include './components/search_select.html', { name: 'type', options:
        USER_TYPE } }}
        <!-- status -->
        {{include './components/search_select.html', { name: 'status', options:
        USER_STATUS } }}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-cog"></i> Option
        </h3>
      </div>
      <div class="card-body p-2">
        <div class="form-group">
          <a
            href="/user-maintenance/add"
            class="btn bg-teal btn-block font-weight-bold"
          >
            <i class="fas fa-user-plus"></i>
            Add User
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-table"></i> Table
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th><i class="far fa-calendar"></i> Date</th>
                <th><i class="far fa-user"></i>Name</th>
                <th><i class="far fa-envelope"></i>Email</th>
                <th><i class="far fa-id-card"></i>Type</th>
                <th><i class="far fa-id-badge"></i>Status</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {{each users.docs}}
              <tr>
                <td>
                  <i class="far fa-calendar"></i>
                  {{@ $value.created_at | formatDate 'YYYY-MM-DD'}}
                </td>
                <td>
                  <i class="far fa-user"></i>
                  <a
                    href="/user-maintenance/edit/{{$value._id.toString()}}"
                    rel="nofollow noopener noreferrer"
                    class="text-info"
                    id="user{{$index}}"
                    data-ot="Click to view details"
                    data-ot-delay="0"
                    data-ot-tip-joint="bottom"
                    data-ot-hide-delay="0"
                    data-ot-target="#user{{$index}}"
                    data-ot-fixed="true"
                  >
                    {{$value.first_name | titleCase}} {{$value.last_name |
                    titleCase}}
                  </a>
                </td>
                <td>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:{{$value.email}}" class="text-info"
                    >{{$value.email}}</a
                  >
                </td>
                <td>{{@$value.type | userTypeBadge | strReplace}}</td>
                <td>{{@$value.status | userStatusBadge | strReplace}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn bg-teal btn-sm p-1">
                      option
                    </button>
                    <button
                      type="button"
                      class="btn bg-teal dropdown-toggle dropdown-icon btn-sm p-1"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      <a
                        class="dropdown-item"
                        href="/user-logs?_id={{$value._id.toString()}}"
                        rel="nofollow noopener noreferrer"
                      >
                        <i class="fas fa-user-edit text-purple"></i>
                        User Log
                      </a>
                      <a
                        class="dropdown-item"
                        href="/user-login?_id={{$value._id.toString()}}"
                        rel="nofollow noopener noreferrer"
                      >
                        <i class="fas fa-user-lock text-purple"></i>
                        User Login
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul
              class="pagination justify-content-center m-0"
              id="pagination"
            ></ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  const page = parseInt('{{users.page}}');
  const totalPages = parseInt('{{users.totalPages}}');
  const totalDocs = parseInt('{{users.totalDocs}}');
  document.getElementById('first_name').value = decodeHTML(
    '{{search.first_name | escapeBackslash}}'
  );
  document.getElementById('last_name').value = decodeHTML(
    '{{search.last_name | escapeBackslash}}'
  );
  document.getElementById('email').value = decodeHTML(
    '{{search.email | escapeBackslash}}'
  );
  document.getElementById('type').value = decodeHTML(
    '{{search.type | escapeBackslash}}'
  );
  document.getElementById('status').value = decodeHTML(
    '{{search.status | escapeBackslash}}'
  );

  function search(page = 1) {
    let url = window.location.href.split('?')[0];
    let first_name = $('#first_name').val();
    let last_name = $('#last_name').val();
    let email = $('#email').val();
    let type = $('#type').val();
    let status = $('#status').val();
    url += `?page=${page}`;
    if (first_name) url += `&first_name=${first_name}`;
    if (last_name) url += `&last_name=${last_name}`;
    if (email) url += `&email=${email}`;
    if (type) url += `&type=${type}`;
    if (status) url += `&status=${status}`;
    window.location.href = url;
  }

  $(document).ready(function () {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#pagination').html(pagination(page, totalPages, totalDocs, 'search'));
  });
</script>
{{/block}}
