<!-- layout -->
{{extend './layout.html'}} 
<!-- content -->
{{block 'content'}}
<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold">
      <i class="fas fa-user-plus"></i> Edit User
    </h3>
  </div>
  <form action="/user-maintenance/update/{{user._id.toString()}}" method="post" id="formUserUpdate">
    <div class="card-body">
      {{each user}}
        {{if $index === 'type'}}
          <div class="form-group">
            <label>{{$index}}</label>
            <select class="form-control form-control-sm" name="{{$index}}">
              {{each USER_TYPE}}
              <option 
                value="{{$value}}"
                {{if user}}{{if user.type == $value}}selected{{/if}}{{/if}}
              >{{$value}}</option>
              {{/each}}
            </select>
            <small class="form-text text-danger" id="{{$index}}_error"></small>
          </div>
        {{else if $index === 'status'}}
          <div class="form-group">
            <label>{{$index}}</label>
            <select class="form-control form-control-sm" name="{{$index}}">
              {{each USER_STATUS}}
              <option 
                value="{{$value}}"
                {{if user}}{{if user.status == $value}}selected{{/if}}{{/if}}
              >{{$value}}</option>
              {{/each}}
            </select>
            <small class="form-text text-danger" id="{{$index}}_error"></small>
          </div>
        {{else if $index !== '_id'}}
          <div class="form-group">
            <label>{{$index | strReplace '_'}}</label>
            <input 
              type="text" 
              class="form-control form-control-sm" 
              name="{{$index}}" 
              value="{{if user}}{{user[$index]}}{{/if}}" 
            />
            <small class="form-text text-danger" id="{{$index}}_error"></small>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="card-footer">
      <div class="form-group">
        <button 
          type="button" 
          class="btn bg-teal btn-block font-weight-bold"
          id="btnUserUpdate"
        ><i class="fas fa-save"></i> Update User</button>
      </div>
    </div>
  </form>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }

  $(document).ready(function() {
    $('#btnUserUpdate').on('click', function() {
      Swal.fire({
        icon: 'question',
        title: 'Do you really want to update the user?',
        showCancelButton: true,
        confirmButtonText: '<i class="fas fa-save"></i> Update',
        confirmButtonColor: '#20c997',
        cancelButtonText: '<i class="fas fa-times"></i> Cancel',
        cancelButtonColor: '#d81b60',
      }).then((result) => {
        if (result.isConfirmed) {
          $('#formUserUpdate').submit();
        }
      });
    });
  });

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}