{{extend './layout.html'}} {{block 'content'}}
<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold">
      <i class="fas fa-table"></i> Table
    </h3>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th><i class="far fa-user"></i> Name</th>
          <th><i class="far fa-envelope"></i> Email</th>
          <th><i class="far fa-id-card"></i> Type</th>
          <th><i class="far fa-calendar"></i> Last Action</th>
          <th><i class="fas fa-route"></i> Route</th>
        </tr>
      </thead>
      <tbody>
        {{each ONLINE}}
        <tr>
          <td>
            <i class="far fa-user"></i>
            {{$value.split('|')[0] | titleCase}}
          </td>
          <td>
            <i class="far fa-envelope"></i>
            <a 
              href="mailto:{{$value.split('|')[1]}}"
              class="text-info"
            >
              {{$value.split('|')[1]}}
            </a>
          </td>
          <td>{{@$value.split('|')[2] | userTypeBadge}}</td>
          <td>
            <i class="far fa-calendar"></i>
            {{@ LAST_ACTION[$index][0] | formatDate 'YYYY-MM-DD hh:mm:ss A'}}
          </td>
          <td>
            <i class="fas fa-route"></i>
            {{LAST_ACTION[$index][1]}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/block}}
