<!-- layout -->
{{extend './layout.html'}}
<!-- content -->
{{block 'content'}}
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-search"></i> Search
        </h3>
      </div>
      <div class="card-body p-2">
        <!-- _id -->
        {{include './components/search_box.html', { name: '_id' } }}
        <!-- first name -->
        {{include './components/search_box.html', { name: 'first_name' } }}
        <!-- last name -->
        {{include './components/search_box.html', { name: 'last_name' } }}
        <!-- type -->
        {{include './components/search_select.html', { name: 'type', options:
        USER_TYPE } }}
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title font-weight-bold">
          <i class="fas fa-table"></i> Table
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th><i class="far fa-calendar"></i>Date</th>
                <th><i class="far fa-user"></i>Name</th>
                <th><i class="far fa-envelope"></i>Email</th>
                <th><i class="far fa-id-card"></i>Type</th>
                <th><i class="far fa-id-badge"></i>Status</th>
              </tr>
            </thead>
            <tbody>
              {{each user_logs.docs}}
              <tr>
                <td>
                  <i class="far fa-calendar"></i>
                  {{@ $value.created_at | formatDate 'YYYY-MM-DD'}}
                </td>
                <td>
                  <i class="far fa-user"></i>
                  <a
                    href="/user-logs/{{$value._id.toString()}}"
                    rel="nofollow noopener noreferrer"
                    class="text-info"
                    id="user{{$index}}"
                    data-ot="Click to view details"
                    data-ot-delay="0"
                    data-ot-tip-joint="bottom"
                    data-ot-hide-delay="0"
                    data-ot-target="#user{{$index}}"
                    data-ot-fixed="true"
                    target="_blank"
                  >
                    {{$value.current.first_name | titleCase}}
                    {{$value.current.last_name | titleCase}}
                  </a>
                </td>
                <td>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:{{$value.email}}" class="text-info"
                    >{{$value.current.email}}</a
                  >
                </td>
                <td>{{@$value.current.type | userTypeBadge | strReplace}}</td>
                <td>
                  {{@$value.current.status | userStatusBadge | strReplace}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul
              class="pagination justify-content-center m-0"
              id="pagination"
            ></ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script src="/app/global.js"></script>
<script>
  const page = parseInt('{{user_logs.page}}');
  const totalPages = parseInt('{{user_logs.totalPages}}');
  const totalDocs = parseInt('{{user_logs.totalDocs}}');
  document.getElementById('_id').value = decodeHTML(
    '{{search._id | escapeBackslash}}'
  );
  document.getElementById('first_name').value = decodeHTML(
    '{{search.first_name | escapeBackslash}}'
  );
  document.getElementById('last_name').value = decodeHTML(
    '{{search.last_name | escapeBackslash}}'
  );
  document.getElementById('type').value = decodeHTML(
    '{{search.type | escapeBackslash}}'
  );

  function search(page = 1) {
    let url = window.location.href.split('?')[0];
    let _id = $('#_id').val();
    let first_name = $('#first_name').val();
    let last_name = $('#last_name').val();
    let type = $('#type').val();
    url += `?page=${page}`;
    if (_id) url += `&_id=${_id}`;
    if (first_name) url += `&first_name=${first_name}`;
    if (last_name) url += `&last_name=${last_name}`;
    if (type) url += `&type=${type}`;
    window.location.href = url;
  }

  $(document).ready(function () {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#pagination').html(pagination(page, totalPages, totalDocs, 'search'));
  });
</script>
{{/block}}
