<!-- layout -->
{{extend './layout.html'}}
<!-- content -->
{{block 'content'}}
<div class="card">
  <form
    action="/user-maintenance/update/{{user._id.toString()}}"
    method="post"
    id="formUserUpdate"
  >
    <div class="card-header">
      <h3 class="card-title font-weight-bold">
        <i class="fas fa-user-plus"></i> Edit User
      </h3>
    </div>
    <div class="card-body p-2">
      <!-- first name -->
      {{include './components/input_text.html', {type: 'text', name:
      'first_name', value: user} }}
      <!-- last name -->
      {{include './components/input_text.html', {type: 'text', name:
      'last_name', value: user} }}
      <!-- phone number -->
      {{include './components/input_text.html', {type: 'text', name:
      'phone_number', value: user} }}
      <!-- email -->
      {{include './components/input_text.html', {type: 'text', name: 'email',
      value: user} }}
      <!-- password -->
      {{include './components/input_text.html', {type: 'password', name:
      'password', value: user} }}
      <!-- type -->
      {{include './components/select.html', { name: 'type', value: user,
      options: USER_TYPE} }}
      <!-- status -->
      {{include './components/select.html', { name: 'status', value: user,
      options: USER_STATUS} }}
    </div>
    <div class="card-footer p-2">
      <div class="form-group">
        <button
          type="button"
          class="btn bg-teal btn-block font-weight-bold"
          id="btnUserUpdate"
        >
          <i class="fas fa-save"></i> Update User
        </button>
      </div>
    </div>
  </form>
</div>
{{/block}}
<!-- javascript -->
{{block 'javascript'}}
<script>
  function handleError(key, value) {
    $(`[name="${key}"]`).addClass('is-invalid');
    $(`#${key}_error`).html(value);
  }

  $(document).ready(function() {
    $('.select2bs4').select2({
      theme: 'bootstrap4',
    });
    $('#btnUserUpdate').on('click', function() {
      Swal.fire({
        icon: 'question',
        title: 'Do you really want to update the user?',
        showCancelButton: true,
        confirmButtonText: '<i class="fas fa-save"></i> Update',
        confirmButtonColor: '#20c997',
        cancelButtonText: '<i class="fas fa-times"></i> Cancel',
        cancelButtonColor: '#d81b60',
      }).then((result) => {
        if (result.isConfirmed) {
          $('#formUserUpdate').submit();
        }
      });
    });
  });

  {{each errors}}
    handleError(`{{$index}}`,`{{$value}}`)
  {{/each}}
</script>
{{/block}}
