<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>CBI App | Dashboard</title>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<link
  rel="stylesheet"
  href="/assets/plugins/fontawesome-free/css/all.min.css"
/>
<!-- <link
  rel="stylesheet"
  href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
/> -->
<link
  rel="stylesheet"
  href="/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
/>
<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css" />
<link
  rel="stylesheet"
  href="/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
/>
<link rel="stylesheet" href="/assets/plugins/jqvmap/jqvmap.min.css" />
<link rel="stylesheet" href="/assets/dist/css/adminlte.min.css" />>
<link
  rel="stylesheet"
  href="/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
/>
<link
  rel="stylesheet"
  href="/assets/plugins/daterangepicker/daterangepicker.css"
/>
<link
  rel="stylesheet"
  href="/assets/plugins/summernote/summernote-bs4.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/opentip/2.4.6/css/opentip.min.css"
  integrity="sha512-xL315XMrNI7LDsc421reMV0cQkRjZQZwHcpQlMIV1wjjnWWJRh50009hmcw/wD70FPQ3gD9AyoBX+LYBwhY/Rg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link 
  rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" 
  integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" 
/>
<style>
  span.text-sm {
    font-size: 0.715rem !important;
    font-weight: bold;
  }
  span.text-sm {
    font-size: 0.715rem !important;
    font-weight: bold;
  }
  .input-group-append > span.text-sm {
    width: 90px;
  }
  .form-group {
    margin: 0px;
    margin-bottom: 5px;
  }
</style>
