<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link text-sm">
    <img
      src="/assets/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">CBI App</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/assets/dist/img/default-150x150.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">{{AUTH.first_name}} {{AUTH.last_name}}</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="/lead" class="nav-link">
            <i class="nav-icon fas fa-id-card text-success"></i>
            <p>Lead</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/calendar" class="nav-link">
            <i class="nav-icon fas fa-calendar text-success"></i>
            <p>Calendar</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/bdm-lead" class="nav-link">
            <i class="nav-icon fas fa-user-circle text-info"></i>
            <p>BDM Lead</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/bdm-settings" class="nav-link">
            <i class="nav-icon fas fa-cog text-info"></i>
            <p>BDM Settings</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/lead-management" class="nav-link">
            <i class="nav-icon fas fa-folder-open text-purple"></i>
            <p>Lead Management</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/reports" class="nav-link">
            <i class="nav-icon fas fa-chart-bar text-purple"></i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/user-maintenance" class="nav-link">
            <i class="nav-icon fas fa-user-cog text-purple"></i>
            <p>User Maintenance</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/user-login" class="nav-link">
            <i class="nav-icon fas fa-user-lock text-purple"></i>
            <p>User Login</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/user-online" class="nav-link">
            <i class="nav-icon fas fa-user-clock text-purple"></i>
            <p>User Online</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="nav-icon fas fa-times-circle text-pink"></i>
            <p>Log Out</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
